/* body, html {
    height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
    background-image: url('../../../public/assets/images/gradient.jpg');
    width: 100vh;
} */

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #191919;
}

.card-container.card {
    width: 500px;
    max-width: 700px;
    /* padding: 40px 40px; */
    text-align: center;
}

/* .btnAuth-style {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
} */

/*
 * Card component
 */

.cardAuth-style {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: #131313;
    padding: 40px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    text-align: center;
    height: 500px;
    display: grid;
    align-content: center;
}

.loginCardOuter {
    max-width: 500px;
    width: 100%;
}

.loginCardOuter:after {
    content: '';
    display: block;
    height: 3px;
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.img-card-style {
    margin: 0 auto 20px auto;
    /* -moz-border-radius: 50%; */
    /* -webkit-border-radius: 50%; */
    /* border-radius: 50%; */
}

/*
 * Form styles
 */

.name-card-style {
    font-size: 50px;
    /* font-weight: bold; */
    color: rgb(46, 46, 46);
    text-align: left;
    vertical-align: 50px;
    margin: 10px 0 0;
    min-height: 1em;
}

.subName-card-style {
    font-size: 20px;
    font-weight: bold;
    color: rgb(46, 46, 46);
    text-align: right;
    margin: -12px 25px -10px;
    min-height: 1em;
}

/* .btnAuth-style {
    margin-left: 0;
} */

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail, .form-signin #inputPassword {
    direction: ltr;
    font-size: 16px;
}

.form-signin input[type=email], .form-signin input[type=password], .form-signin input[type=text], .form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin button {
    font-size: 16px;
    background: #000;
    border: none;
    outline: none;
    padding: 20px;
    height: 60px;
    border-radius: 3px;
}

.btn.btn-signin:hover, .btn.btn-signin:active, .btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover, .forgot-password:active, .forgot-password:focus {
    color: rgb(12, 97, 33);
}

.form-signin input {
    background: #191919;
    border: none;
    border-radius: 3px;
    padding: 0 20px;
    outline: none;
    font-size: 16px;
    height: 60px;
    transition: .3s;
}

.form-signin input:focus {
    color: #fff;
    transition: .3s;
}

.form-signin input::placeholder {
    color: #777;
}

.form-signin input:focus::placeholder {
    opacity: .3;
    transition: .3s;
}