.main-footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

button {
    margin-left: 5px;
}

.table-actions {
    width: 150px;
}

/* Customizando Header */
.skin-blue .main-header .navbar {
    background: rgb(34, 45, 50);
}

.skin-blue .main-header .logo {
    background: rgb(34, 45, 50);
}

.skin-blue a.dropdown-toggle {
    background: rgb(34, 45, 50);
}


/* Gif Loading */
.container-load {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}


/* Customizando o form */
#button-wide-form-style {
    margin: 40px 0px;
    width: 100%;
    min-width: 80px;
    max-width: 800px;
    overflow-wrap: normal;
}

#button-control-form-style {
  margin: 40px 0px;
  max-width: 400px;
  min-width: 80px;
  width: 100px; 
}

.label-form-style {
    max-width: 100%;
    font-size: 105%;
    padding-top: 15px;
    font-weight: normal;
} 

#div-style {
  padding-right: 10px;
  padding-left:  10px;
}

.tab-style {
    cursor: pointer;
}
